.list__item {
    padding: 10px;
    background-color: #F3F3F3;
    border-radius: 8px;
    display: flex;

    &:not(:last-child) {
        margin: 0px 0px 24px 0px;
    }
    
    &__info {
        .list__item__block {

            &:not(:last-child) {
                margin: 0px 0px 7px 0px;
            }

            span {
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 11px;
                line-height: 1.2;
                color: #A3A3A3;
                margin: 0px 7px 0px 0px;

                &:last-child {
                    font-weight: 400;
                    color: #000000;
                    margin: 0px 0px 0px 0px;
                }
            }
        }
    }

    &__link {
        flex: 1 1 0;
        text-align: end;
        align-self: end;

        a {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 12px;
            line-height: 1.2;
            color: #4B51EF;
            cursor: pointer;
        }
    }
}